<div class="thisBody">
    <mat-card class="cardBody">
        <h2>登入</h2>

        <form class="example-form" onsubmit="return false" (submit)="onSubmit()" [(id)]="formId">
            <mat-form-field class="example-full-width">
                <mat-label>電郵</mat-label>
                <input type="email" matInput placeholder="電郵" [(ngModel)]="loginForm.email" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>密碼</mat-label>
                <input type="password" matInput placeholder="密碼" [(ngModel)]="loginForm.password" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <input type="submit" class="submitButton btn btn-primary" value="登入">
               
        </form>
    </mat-card>
</div>