<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false"
    [style.display]="displayForceHideSideBar">
    <mat-toolbar>選單</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="currentUser" class="userSet">
        <div class="email">{{currentUser.email}}</div>
        <div class="logout" (click)="signout()">登出</div>
      </div>
      <mat-expansion-panel *ngFor="let top of navItems">
        <mat-expansion-panel-header>

          <mat-panel-title>
            {{top.displayName}}
          </mat-panel-title>
        </mat-expansion-panel-header>

          <a mat-list-item *ngFor="let sub of top.children" [routerLink]="sub.path" >{{sub.displayName}}</a>
  
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        [style.display]="displayForceHideSideBar" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>樂活社羣 管理界面</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>