.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.userSet{
  margin: 1rem;
  .email{

  }
  .logout{
    text-align: right;
    color: blue;
    font-weight: bold;
    cursor:pointer;
  }
}